head
  meta(charset='UTF-8')
  meta(name='viewport', content='width=device-width,initial-scale=1')
  script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js")
  link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css")
  script(src="https://code.jquery.com/jquery-latest.min.js")
  script(src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js")
  script(src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js")

  style
    include ../css/include-head.css


div.headerTitle 불법투기 신고 시스템

nav.navbar.navbar-expand-sm
  ul.navbar-nav
    li.nav-item
      a.nav-link(href="#") 신고현황
    li.nav-item
      a.nav-link(href="/report/dumpReport") 투기신고
    li.nav-item
      a.nav-link(href="#") 문의&답변  
    li.nav-item
  ul.navbar-nav.ml-auto  
      a.nav-link(href="/member/login") 로그인 