include include-head

style
    include ../css/login.css

script.

    function removeSpace(obj){
        var val = $('.joinPass').val().replace(/ /gi,'')
        $('.joinPass').val(val)
    }



    $(function(){

        var checkIdSW = 0
        
        $('.joinId').keyup(function(event){
            if(!(event.keyCode >= 37 && event.keyCode <= 40)){
                var inputVal = $(this).val()
                $(this).val(inputVal.replace(/[^a-z0-9]/gi,''))
            }
        })



        $('.checkIdBtn').click(function(){
            var id = $('.joinId').val()
            
            $.ajax({
                url:'/member/checkid', data:{id:id}, type:'post',
                success:function(result){
                    if(result == 'CHECKOK'){
                        alert('확인 완료')
                        checkIdSW = 1
                    }else{
                        alert('이미 존재하는 아이디입니다')
                        checkIdSW = 0
                    }
                }
            })
        })





        $('.joinBtn').click(function(){

            if($('.joinId').val().length > 8 || $('.joinId').val().length < 4){
                alert('아이디는 4자 이상 8자 이하입니다')
                $('.joinId').focus()
                return false
            }

           

            if($('.joinPass').val().length < 10){
                alert('비밀번호는 10자 이상입니다')
                $('.joinPass').focus()
                return false
            }

            if($('.joinPass').val() != $('.joinRePass').val()){
                alert('비밀번호를 다시 확인해주세요')
                $('.joinPass').focus()
                return false
            }

            if(checkIdSW != 1){
                alert('아이디 중복 체크가 필요합니다')
                return false
            }

            $('.joinForm').submit()
        })
    })

body

    div.loginAndJoinBoxDiv
        div.loginBox
            form(action="/member/login", method="post")
                div.logTitle LOGIN
                div
                    input(placeholder='ID', maxlength='8').logId
                div
                    input(type='password', maxlength='20', placeholder='PASSWORD').logPass
                div
                    button(type='button').loginBtn 로그인
        div.joinBox
            form(action="/member/join", method="post").joinForm
                div.joinTitle 빠른 회원가입
                div.idAndCheckBoxDiv
                    div
                        input(placeholder='아이디(4자 이상 8자 이하)', maxlength='8', name='id').joinId
                    div
                        button(type='button').checkIdBtn 중복 체크
                div
                    input(type='password', maxlength='20',placeholder='비밀번호(10자 이상)', name='password', onkeyup="removeSpace(this);").joinPass
                div
                    input(type='password', maxlength='20',placeholder='비밀번호 확인').joinRePass
                div
                    select(name="grade")
                        option(value="N") 일반(민원)
                        option(value="P") 공무원
                div(style="text-align:right")
                    button(type='button').joinBtn 가입
