<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <link rel="stylesheet" type="text/css" media="screen" href="main.css" />
  </head>

  <!-- Latest compiled and minified CSS -->
  <link
    rel="stylesheet"
    href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
  />

  <!-- jQuery library -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

  <!-- Popper JS -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

  <!-- Latest compiled JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script>
    $(function() {
      $("#insertButton").click(function() {
        // 서버에서 공백검사
        if (
          $("#title")
            .val()
            .trim().length < 1
        ) {
          alert("제목을 입력핫요");
          return false;
        }

        $("form").submit();
      });

      $(".deleteButton").click(function() {
        if (confirm("정말 삭제?")) {
          var formData = $("form").serialize();

          $.ajax({
            url: "/list/delete",
            data: formData,
            type: "post",
            success: function(result) {
              alert(result);
              document.location.href = "/";
            },
            error: function() {
              alert("서버 에러");
            }
          });
        }
        return false;
      });
    });
  </script>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

  <body class="col-xs-x" style="text-align: center;">
    <div class="container-md">
      <form action="/list/insert" method="post">
        <input type="hidden" name="_id" value="<%= list._id %>" />

        <div>
          <input
            class="form-control"
            id="title"
            name="title"
            placeholder="제목"
            value="<%= list.title %>"
          />
        </div>
        <div>
          <textarea
            class="form-control"
            rows="5"
            id="content"
            name="content"
            placeholder="내용"
            style="margin-bottom: 5%; margin-top: 2%;"
          >
<%= list.content %></textarea
          >
          <input name="insertDate" type="hidden" />
        </div>

        <button
          class="btn btn-secondary"
          type="button"
          onclick="document.location.href='/'"
        >
          홈으로
        </button>

        <% if(insertBtn == "OK"){ %>

        <button id="insertButton" type="button" class="btn btn-light">
          작성완료
        </button>

        <% }%> <% if(delBtn == "OK"){ %>
        <button class="deleteButton btn btn-danger" type="button">삭제</button>
        <% }%>
      </form>
    </div>
  </body>
</html>
