.headerTitle {
  font-weight: bold;
  text-align: center;
  font-size: xx-large;
  background-color: coral;
  padding: 30px;
}

.nav-link {
  font-size: large;
  text-decoration: none;
  color: black;
  transition: 0.7s ease;
}

.nav-link:hover {
  font-weight: bold;
  color: black;
  text-decoration: underline;
  text-decoration-color: coral;
}
