.mapAndChartBoxDiv{
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    border:2px solid black;
    margin-top: 5%;
}

.mapBoxDiv{
    max-width: 800px;
    max-height: 700px;;
    width:500;
    height:400px;
    border:1px solid green;
    margin: 3%;
}

.chartBoxDiv{
    max-width: 800px;
    max-height: 700px;;
    width:500;
    height:400px;
    border:1px solid purple;
    margin: 3%;
}